.filter{
    h1{
        font-size: 25px;
        font-weight: bold;
    }
    select{
        background-color: #f2f2f2;
        border-radius: 8px;
        border: 0px;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}